
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #283739;
}

a{
    color: #283739;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color:#2C5D63;
}

.btn {
    background: #A2C11C;
    background-image: -webkit-linear-gradient(top, #A2C11C, #A2C11C);
    background-image: -moz-linear-gradient(top, #A2C11C, #A2C11C);
    background-image: -ms-linear-gradient(top, #A2C11C, #A2C11C);
    background-image: -o-linear-gradient(top, #A2C11C, #A2C11C);
    background-image: linear-gradient(to bottom, #A2C11C, #A2C11C);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #2C5D63;
    background-image: -webkit-linear-gradient(top, #2C5D63, #2C5D63);
    background-image: -moz-linear-gradient(top, #2C5D63, #2C5D63);
    background-image: -ms-linear-gradient(top, #2C5D63, #2C5D63);
    background-image: -o-linear-gradient(top, #2C5D63, #2C5D63);
    background-image: linear-gradient(to bottom, #2C5D63, #2C5D63);
    text-decoration: none;
  }

  .copyright{
    color:#283739;
    font-size:0.75rem;
    padding: 20px 0;
  }

  .contact-message{
    width: 40%
    margin: 40px, auto 60px;
}

h1{
    font-size: 5.625rem; 
    margin: 50px auto 0 auto;
    font-family: 'Sofia', cursive;
    color: #A2C11C;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #2C5D63; 
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #A2C11C;
}

p{
    line-height: 2;
}

.top-container{
  background-color: #E0E0E0;   
  position: relative;
  padding-top: 100px;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #B7B7B7;
    padding: 50px 0 20px; 
}

.web{
    text-decoration: underline;
}

.top-cloud{
    position:absolute;
    right:300px;
    top: 40px;

}

.bottom-cloud{
   position:absolute; 
   left:250px;
   bottom: 300px;
}

.skill-row{
    width: 50%;  
    margin: 100px auto 100px auto;
    text-align: left;
    
    
}

.web-img{
    width: 24%;
    float: left;
    margin-right: 30px;
 
}

.seo-img{
    width: 24%;
    float: right;
    margin-left: 30px;
}

hr{
    border: dotted #283739 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
    margin-top: 100px;
}

.intro{
    width: 30%;
    margin: auto;
   
}